.App {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:#313d04;
    min-height: 100vh;
    padding: 20px;
    border-radius: 5px;
  }
  
  .logo {
    width: 50px; 
    height: auto;
    margin-right: 20px;
  }
 
  .nav-item {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  } 
  

  .nav {
    display: flex;
    align-items: center;
    background-color: hsl(65, 23%, 33%);
    padding: 15px 0;
    margin-bottom: 40px;
    border-radius: 5px;
  }
  
  .nav-items-wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1; 
  }
  
  .nav-item:hover {
    background-color: #495057;
    color: #f8f9fa;
  }
  

  .nav-item.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .page {
    padding: 20px;
  }
