.App {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:rgb(31, 19, 19);
    min-height: 100vh;
    padding: 20px;
    border-radius: 5px;
  }
  
  .logo {
    width: 50px; 
    height: auto;
    margin-right: 20px;
  }
 
  .nav-item {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  } */
  

  .nav {
    display: flex;
    align-items: center;
    background-color: hsl(65, 23%, 33%);
    padding: 15px 0;
    margin-bottom: 40px;
    border-radius: 5px;
  }
  
  .nav-items-wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Allows nav items to grow and align centrally */
  }
  /* Hover effect on navigation links */
  .nav-item:hover {
    background-color: #495057;
    color: #f8f9fa;
  }
  
  /* Styling for the active navigation link */
  .nav-item.active {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Styling for each page (optional, depending on your components) */
  .page {
    padding: 20px;
  }
